* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #f04e8d;
    --color-text-dark: #2d2d3a;
    --color-text-light: #6b6b7b;
    --color-bg-hero: #f4f7ff;
}

body {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: var(--color-text-dark);
    line-height: 1.6;
    margin: 0 auto;
}

.hero, .header, .features {
    margin: 0 auto;
    padding: 0 5%;
    width: 100%;
    max-width: 1470px;
}
.hero  {
    background-image: url("../resources/div.card.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
.container {
    margin: 0 auto;
    padding: 5% 0;

}

.btn {
    padding: 12px 24px;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.btn:hover {
    opacity: 0.9;
}

.btn--primary {
    background-color: var(--color-primary);
    color: #ffffff;
}

.layout-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

.header__list {
    display: flex;
    gap: 30px;
    list-style: none;
}

.header__link {
    text-decoration: none; /* Removes the underline */
    color: var(--color-text-dark);
    font-weight: 500;
}

.header__link--active {
    color: var(--color-primary);
}

.header__auth {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero__container {

    display: flex;
    align-items: center;
    gap: 50px;

    width: 100%;
}

.hero__content,
.hero__visual {
    flex: 1;
    position: relative;
}

.hero__title {
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero__title--highlight {
    color: var(--color-primary);
}

.hero__description {
    font-size: 1.1rem;
    color: var(--color-text-light);
    margin-bottom: 30px;
    max-width: 450px;
}

.hero__visual img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.features__header {
    text-align: center;
    margin-bottom: 60px;
}

.features__subtitle {
    color: var(--color-primary);
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.features__title {
    font-size: 2.2rem;
    max-width: 600px;
    margin: 10px auto 0 auto;
}


.features__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 30px;
}

.features__item-title {
    font-size: 1.2rem;
    margin: 15px 0 10px 0;
}

.features__item-text {
    color: var(--color-text-light);
    font-size: 0.95rem;
    line-height: 1.6;
}

.features__icon img {
    width: 40px;
    height: 40px;
}